.bs-bookshelfui-chapter-pager-default-pnl {
	padding: 15px 10px;
	margin: 0.5rem 0;
	color: #333333;
	background-color: rgba( 0, 0, 0, 0.05 );
}
.bs-bookshelfui-chapter-pager-default-pnl .bs-chapter-pager-heading {
	text-align: center;
	border-bottom: 1px solid currentColor;
}
.bs-bookshelfui-chapter-pager-default-pnl .bs-chapter-pager-heading {
	margin-top: 0;
}
.bs-chapter-pager-heading h4 {
	font-size: 15px;
	font-weight: var(--content-h4-font-weight);
}