.bs-chapter-pager-toolbar {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.bs-chapter-pager-toolbar a,
.bs-chapter-pager-toolbar a:visited {
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;
	border: 0.5px solid var(--mws-secondary-fg);
	color: var(--mws-secondary-fg);
	background-color: var(--mws-secondary-bg);
	padding: 0.375rem 0.75rem;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bs-chapter-pager-toolbar a:hover {
	background-color: var(--mws-secondary-bg--hover);
	color: var(--mws-secondary-fg--hover);
	border-color: var(--mws-secondary-fg);
	text-decoration: none;
}
.bs-chapter-pager-toolbar a.disabled,
.bs-chapter-pager-toolbar a:hover.disabled {
	opacity: 0.5;
	cursor: default;
	background-color: var(--mws-secondary-bg);
}
#aftercontent #bs-bookshelfui-chapter-pager-bottom-top-cnt .bs-chapter-pager-toolbar a {
	color: var(--mws-secondary-fg--hover);
}