.bs-bookshelfui-chapter-pager-default-pnl {
	padding: 1rem;
	margin: 0.5rem 0;
	color: #252525;
	background-color: #f1f3f9;
	border-radius: 0.375rem;
}

.bs-bookshelfui-chapter-pager-default-pnl .bs-chapter-pager-heading {
	text-align: center;
	margin: 0 15px;
	border-bottom: 1px solid currentcolor;
}

.bs-bookshelfui-chapter-pager-default-pnl .bs-chapter-pager-heading {
	margin-top: 0;
}

.bs-chapter-pager-heading h4 {
	font-size: 15px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
	font-weight: var( --content-h4-font-weight );
}
