.bs-bookshelf-toc {
	width: 400px;
	height: 400px;
	float: right;
	clear: both;
	margin: 0px 0px 5px 5px;
	/*@embed*/
	background-image: url(../../BlueSpiceFoundation/resources/bluespice/images/bs-ajax-loader-bar-blue.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #ddd;
	display: none;
}

.bs-bookshelf-no-icon {
	display: none !important;
}

.bs-chapter-new {
	color: #ba0000;
}

.ve-ce-focusableNode.bs-bookshelf-toc {
	display: none;
}
