#n-book-panel .card-footer {
	border-top: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
	text-align: right;
}

#n-book-panel .card-footer #book-panel-edit-book,
#n-book-panel .card-footer #book-panel-edit-book:hover,
#n-book-panel .card-footer #book-panel-edit-book:visited {
	visibility: hidden;
	text-align: right;
	font-size: 0.7rem;
	color: var( --sidebar-primary-fg );
}

#n-book-panel-header {
	display: flex;
	justify-content: space-between;
}

#n-book-panel:hover .card-footer #book-panel-edit-book {
	visibility: visible;
}

#n-book-panel .card-header {
	border-bottom: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
	padding: 0.5rem 1rem 0.5rem 2rem;
}

#n-book-panel-header-actions {
	flex-flow: row wrap;
}

#n-book-panel-header-actions a,
#n-book-panel-header-actions button {
	background-color: var( --icon-primary-bg );
	color: var( --icon-primary-fg );
}

#n-book-panel-header-actions a:hover,
#n-book-panel-header-actions button:hover {
	background-color: var( --icon-primary-bg--hover );
	color: var( --icon-primary-fg--hover );
}

#n-book-panel .book-title {
	font-size: 1.25rem;
}

#book-panel-tree .bs-chapter-number {
	margin-right: 0.3em;
}

.bs-bookshelf-create-chapter-layout > div {
	width: 80%;
}

.oo-ui-horizontalLayout > .oo-ui-widget.bs-bookshelf-create-chapter-number-label {
	align-self: flex-end;
	padding: 0 8px 4px;
}
